apiVersion: apps/v1
kind: Deployment
metadata:
  name: multicluster-operators-placementrule
  namespace: open-cluster-management
  labels:
    name: multicluster-operators-placementrule
spec:
  replicas: 1
  selector:
    matchLabels:
      name: multicluster-operators-placementrule
  template:
    metadata:
      labels:
        name: multicluster-operators-placementrule
    spec:
      serviceAccountName: multicluster-operators
      containers:
        - name: multicluster-operators-placementrule
          image: quay.io/open-cluster-management/multicluster-operators-subscription:latest
          ports:
          - containerPort: 7443
          command:
          - /usr/local/bin/multicluster-operators-placementrule
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "multicluster-operators-placementrule"
          resources:
              requests:
                cpu: 100m
                memory: 128Mi
