[submodule "policy-generator-plugin"]
	path = external/policy-generator-plugin
	url = https://github.com/stolostron/policy-generator-plugin
	branch = release-2.14

[submodule "helm"]
	path = external/helm
	url = https://github.com/helm/helm
	branch = v4.0.4
