os:
  - linux

language: go
go:
  - "1.15"

services:
  - docker

branches:
  only:
    - master
    - dev
    - ibm-*
    - /^[0-9]+\..*$/
    - /^v[0-9]+\..*$/
    - /^release-[0-9]+\..*$/

addons:
  sonarcloud:
    organization: "open-cluster-management"
    token:
      secure: "qSAVeXGoBhCpzepmanabUWxOcLnJEhMKRMYZ6iTS1DweOOYo6nW5yF0Gs1LV7RaWSgiZ1A74Oe1UiHedAiMuoHehIli0Ms5w07JgJMFxcpw1jKH0Y4cDgsyAohjKXRGgdNZTQcMPgg9AICWv3qBT1V0xXd8W+rS4QV0rkIo6qhbJe7ROyIq9AqbQNzuo2YMm4+UHUNT246JZkYxhuTVyWaPrkD1rbP2Rob5qmOth9MOqBRwegTWzINsbaKBCrueEfGjmbJJXbmM/b8n+sy9DtOgV/zcdGyHjy7vtPeMr0OkDJVHK95JvN+BshErWGoJKJI1DjlZDm28cik9HHXuqdYAs5N5Z39B6EeaxO183g7w0B74PKixPoUwmtKWykYQEeT6Ky6UBD+iazB/zccWbAh/W+rEVA0IKEtHQDtUfgCwwKLrwIGyYVDsRU+8xDzR1wg3rVllQBSN7LdnVHJOZeU+PHumohSmLMi4wVpZCpZB5uQGzsl2INi4FCi6DjuUu4tbfDKal4lOYIl70ZhcG71Qr+W3N7x3jrgMjJef+KwP3CpBCALoS7/OouII7KDeziKa9UE079J3r1TeYTNNPjuMYp81MLOw4LtSj67anllMbmFmVHmZFwnbiXm6PoKE9F+bR3RVeHtO891qUw5bQ4PY5XGlv6W7B3hgMeAMFxDk="

env:
  global:
    # Required
    - OS=linux

    # Component Specific
    - COMPONENT_INIT_COMMAND=${TRAVIS_BUILD_DIR}/build/install-dependencies.sh
    - COMPONENT_DEPLOY_COMMAND=${TRAVIS_BUILD_DIR}/build/deploy-to-cluster.sh
    - COMPONENT_BUILD_COMMAND=${TRAVIS_BUILD_DIR}/build/build.sh
    - COMPONENT_UNIT_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-unit-tests.sh
    - COMPONENT_E2E_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-e2e-tests.sh

# define stages
stages:
  - lint
  - build
  - unit-test
  - test-e2e
  - publish

jobs:
  include:
    - stage: lint
      name: "Run code lint"
      if: type = pull_request
      script: bash ${TRAVIS_BUILD_DIR}/build/run-code-lint.sh

    - stage: build
      name: "Build the image and run unit tests"
      script:
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        - |
          make
          make component/build
          make component/push
          make security/scans
          make build-latest-community-operator

    - stage: unit-test
      name: "Run unit test"
      script:
        - set -e
        # Set the image tag differently for PRs
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        # Bootstrap the build harness, pull test image, and run unit tests.
        - |
          make
          make component/test/unit
          make sonar/go

    - stage: test-e2e
      name: "Deploy the image to a cluster and run e2e tests"
      if: type = pull_request
      script:
        #Check out a clusterpool, set up oc, deploy, run e2e tests, and return clusterpool cluster
        - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then export COMPONENT_TAG_EXTENSION="-PR${TRAVIS_PULL_REQUEST}-${TRAVIS_COMMIT}"; fi;
        - |
          make
          make component/pull
          make component/test/e2e

    - stage: publish
      name: "Publish the image to quay with an official version/sha tag and publish entry to integration pipeline stage"
      if: type = push AND branch =~ /^release-[0-9]+\..*$/
      script:
        - |
          make
          make pipeline-manifest/update PIPELINE_MANIFEST_COMPONENT_SHA256=${TRAVIS_COMMIT} PIPELINE_MANIFEST_COMPONENT_REPO=${TRAVIS_REPO_SLUG} PIPELINE_MANIFEST_BRANCH=${TRAVIS_BRANCH}
          make release-community-operator
