# should sync with the subscription/installer repo
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: AddOnTemplate
metadata:
  name: gitops-addon
spec:
  addonName: gitops-addon
  agentSpec:
      workload:
        manifests:
          - kind: Job
            apiVersion: batch/v1
            metadata:
              name: gitops-addon-cleanup
              namespace: open-cluster-management-agent-addon
              annotations:
                addon.open-cluster-management.io/addon-pre-delete: ""
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            spec:
              backoffLimit: 3
              activeDeadlineSeconds: 600
              template:
                spec:
                  serviceAccountName: gitops-addon
                  restartPolicy: Never
                  containers:
                    - name: cleanup
                      image: quay.io/stolostron/multicloud-integrations:latest
                      imagePullPolicy: IfNotPresent
                      command:
                      - /usr/local/bin/gitopsaddon
                      args:
                      - "-cleanup"
          - kind: Deployment
            apiVersion: apps/v1
            metadata:
              name: gitops-addon
              namespace: open-cluster-management-agent-addon
              labels:
                app: gitops-addon
                apps.open-cluster-management.io/gitopsaddon: "true"
            spec:
              replicas: 1
              selector:
                matchLabels:
                  app: gitops-addon
              template:
                metadata:
                  labels:
                    app: gitops-addon
                spec:
                  serviceAccountName: gitops-addon
                  containers:
                    - name: gitops-addon
                      image: quay.io/stolostron/multicloud-integrations:latest
                      imagePullPolicy: IfNotPresent
                      securityContext:
                        readOnlyRootFilesystem: true
                        allowPrivilegeEscalation: false
                        runAsNonRoot: true
                        capabilities:
                          drop:
                          - ALL
                      volumeMounts:
                        - mountPath: /tmp
                          name: tmp-volume
                      command:
                      - /usr/local/bin/gitopsaddon
                      env:
                        - name: GITOPS_OPERATOR_IMAGE
                          value: '{{GITOPS_OPERATOR_IMAGE}}'
                        - name: ARGOCD_IMAGE
                          value: '{{ARGOCD_IMAGE}}'
                        - name: ARGOCD_REPOSERVER_IMAGE
                          value: '{{ARGOCD_REPOSERVER_IMAGE}}'
                        - name: ARGOCD_REDIS_IMAGE
                          value: '{{ARGOCD_REDIS_IMAGE}}'
                        - name: ARGOCD_REDIS_HA_IMAGE
                          value: '{{ARGOCD_REDIS_HA_IMAGE}}'
                        - name: ARGOCD_REDIS_HA_PROXY_IMAGE
                          value: '{{ARGOCD_REDIS_HA_PROXY_IMAGE}}'
                        - name: ARGOCD_DEX_IMAGE
                          value: '{{ARGOCD_DEX_IMAGE}}'
                        - name: BACKEND_IMAGE
                          value: '{{BACKEND_IMAGE}}'
                        - name: GITOPS_CONSOLE_PLUGIN_IMAGE
                          value: '{{GITOPS_CONSOLE_PLUGIN_IMAGE}}'
                        - name: ARGOCD_EXTENSION_IMAGE
                          value: '{{ARGOCD_EXTENSION_IMAGE}}'
                        - name: ARGO_ROLLOUTS_IMAGE
                          value: '{{ARGO_ROLLOUTS_IMAGE}}'
                        - name: ARGOCD_IMAGE_UPDATER_IMAGE
                          value: '{{ARGOCD_IMAGE_UPDATER_IMAGE}}'
                        - name: ARGOCD_AGENT_IMAGE
                          value: '{{ARGOCD_AGENT_IMAGE}}'
                        - name: HTTP_PROXY
                          value: '{{HTTP_PROXY}}'
                        - name: HTTPS_PROXY
                          value: '{{HTTPS_PROXY}}'
                        - name: NO_PROXY
                          value: '{{NO_PROXY}}'
                        - name: ARGOCD_AGENT_ENABLED
                          value: '{{ARGOCD_AGENT_ENABLED}}'
                        - name: ARGOCD_AGENT_SERVER_ADDRESS
                          value: '{{ARGOCD_AGENT_SERVER_ADDRESS}}'
                        - name: ARGOCD_AGENT_SERVER_PORT
                          value: '{{ARGOCD_AGENT_SERVER_PORT}}'
                        - name: ARGOCD_AGENT_MODE
                          value: '{{ARGOCD_AGENT_MODE}}'
                  volumes:
                    - name: tmp-volume
                      emptyDir: {}
          - kind: ServiceAccount
            apiVersion: v1
            metadata:
              name: gitops-addon
              namespace: open-cluster-management-agent-addon
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            imagePullSecrets:
              - name: open-cluster-management-image-pull-credentials
          - kind: ClusterRoleBinding
            apiVersion: rbac.authorization.k8s.io/v1
            metadata:
              name: gitops-addon
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            roleRef:
              apiGroup: rbac.authorization.k8s.io
              kind: ClusterRole
              name: cluster-admin
            subjects:
              - kind: ServiceAccount
                name: gitops-addon
                namespace: open-cluster-management-agent-addon
---
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: AddOnTemplate
metadata:
  name: gitops-addon-olm
spec:
  addonName: gitops-addon
  agentSpec:
      workload:
        manifests:
          - kind: Job
            apiVersion: batch/v1
            metadata:
              name: gitops-addon-cleanup
              namespace: open-cluster-management-agent-addon
              annotations:
                addon.open-cluster-management.io/addon-pre-delete: ""
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            spec:
              backoffLimit: 3
              activeDeadlineSeconds: 600
              template:
                spec:
                  serviceAccountName: gitops-addon
                  restartPolicy: Never
                  containers:
                    - name: cleanup
                      image: quay.io/stolostron/multicloud-integrations:latest
                      imagePullPolicy: IfNotPresent
                      command:
                      - /usr/local/bin/gitopsaddon
                      args:
                      - "-cleanup"
          - kind: Subscription
            apiVersion: operators.coreos.com/v1alpha1
            metadata:
              name: openshift-gitops-operator
              namespace: openshift-operators
              labels:
                app.kubernetes.io/managed-by: multicloud-integrations
                apps.open-cluster-management.io/gitopsaddon: "true"
            spec:
              channel: latest
              name: openshift-gitops-operator
              source: redhat-operators
              sourceNamespace: openshift-marketplace
              installPlanApproval: Automatic
              config:
                env:
                  - name: DISABLE_DEFAULT_ARGOCD_INSTANCE
                    value: "true"
          - kind: ServiceAccount
            apiVersion: v1
            metadata:
              name: gitops-addon
              namespace: open-cluster-management-agent-addon
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            imagePullSecrets:
              - name: open-cluster-management-image-pull-credentials
          - kind: ClusterRoleBinding
            apiVersion: rbac.authorization.k8s.io/v1
            metadata:
              name: gitops-addon
              labels:
                apps.open-cluster-management.io/gitopsaddon: "true"
            roleRef:
              apiGroup: rbac.authorization.k8s.io
              kind: ClusterRole
              name: cluster-admin
            subjects:
              - kind: ServiceAccount
                name: gitops-addon
                namespace: open-cluster-management-agent-addon
