apiVersion: addon.open-cluster-management.io/v1alpha1
kind: AddOnTemplate
metadata:
  name: gitops-addon
spec:
  addonName: gitops-addon
  registration:
    - type: CustomSigner
      customSigner:
        signerName: open-cluster-management.io/argocd-agent-addon
        signingCA:
          name: argocd-agent-ca
          namespace: openshift-gitops
  agentSpec:
      workload:
        manifests:
          - kind: Deployment
            apiVersion: apps/v1
            metadata:
              name: gitops-addon
              namespace: open-cluster-management-agent-addon
              labels:
                app: gitops-addon
            spec:
              replicas: 1
              selector:
                matchLabels:
                  app: gitops-addon
              template:
                metadata:
                  labels:
                    app: gitops-addon
                spec:
                  serviceAccountName: gitops-addon
                  containers:
                    - name: gitops-addon
                      image: quay.io/stolostron/multicloud-integrations:latest
                      imagePullPolicy: IfNotPresent
                      securityContext:
                        readOnlyRootFilesystem: true
                        allowPrivilegeEscalation: false
                        runAsNonRoot: true
                        capabilities:
                          drop:
                          - ALL
                      volumeMounts:
                        - mountPath: /tmp
                          name: tmp-volume
                      command:
                      - /usr/local/bin/gitopsaddon
                      env:
                        - name: GITOPS_OPERATOR_IMAGE
                          value: '{{GITOPS_OPERATOR_IMAGE}}'
                        - name: GITOPS_OPERATOR_NAMESPACE
                          value: '{{GITOPS_OPERATOR_NAMESPACE}}'
                        - name: GITOPS_IMAGE
                          value: '{{GITOPS_IMAGE}}'
                        - name: GITOPS_NAMESPACE
                          value: '{{GITOPS_NAMESPACE}}'
                        - name: REDIS_IMAGE
                          value: '{{REDIS_IMAGE}}'
                        - name: RECONCILE_SCOPE
                          value: '{{RECONCILE_SCOPE}}'
                        - name: UNINSTALL
                          value: '{{UNINSTALL}}'
                        - name: ARGOCD_AGENT_ENABLED
                          value: '{{ARGOCD_AGENT_ENABLED}}'
                        - name: ARGOCD_AGENT_IMAGE
                          value: '{{ARGOCD_AGENT_IMAGE}}'
                        - name: ARGOCD_AGENT_SERVER_ADDRESS
                          value: '{{ARGOCD_AGENT_SERVER_ADDRESS}}'
                        - name: ARGOCD_AGENT_SERVER_PORT
                          value: '{{ARGOCD_AGENT_SERVER_PORT}}'
                        - name: ARGOCD_AGENT_MODE
                          value: '{{ARGOCD_AGENT_MODE}}'
                  volumes:
                    - name: tmp-volume
                      emptyDir: {}
          - kind: ServiceAccount
            apiVersion: v1
            metadata:
              name: gitops-addon
              namespace: open-cluster-management-agent-addon
            imagePullSecrets:
              - name: open-cluster-management-image-pull-credentials
          - kind: ClusterRoleBinding
            apiVersion: rbac.authorization.k8s.io/v1
            metadata:
              name: gitops-addon
            roleRef:
              apiGroup: rbac.authorization.k8s.io
              kind: ClusterRole
              name: cluster-admin
            subjects:
              - kind: ServiceAccount
                name: gitops-addon
                namespace: open-cluster-management-agent-addon
