name: Go

on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main

env:
  # Common versions
  GO_VERSION: '1.18'
  GO_REQUIRED_MIN_VERSION: ''
  GOPATH: '/home/runner/work/multicloud-operators-subscription/multicloud-operators-subscription/go'
defaults:
  run:
    working-directory: go/src/github.com/open-cluster-management/multicloud-operators-subscription

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-operators-subscription
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: lint
        run: make lint

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-operators-subscription
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: build
        run: make build

  build-images:
    name: build-images
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-operators-subscription
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.1
      - name: build-images
        run: make build-images

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-operators-subscription
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: test
        run: make test
  
  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: go/src/github.com/open-cluster-management/multicloud-operators-subscription
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: install imagebuilder
        run: go install github.com/openshift/imagebuilder/cmd/imagebuilder@v1.2.1
      - name: build-images
        run: make build-images
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: cluster1
      - name: setup kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.14.0
          name: hub
      - name: Load image on the nodes of the cluster
        run: |
          kind load docker-image --name=cluster1 quay.io/open-cluster-management/multicloud-operators-subscription:latest
          kind load docker-image --name=hub quay.io/open-cluster-management/multicloud-operators-subscription:latest
      - name: Run e2e test
        run: |
          make test-e2e
          make test-e2e-kc
        env:
          KUBECONFIG: /home/runner/.kube/config
